<p-toast />
<div class="flex flex-wrap flex-col gap-4 md:flex-row">
  <div class="flex-10">
    <div class="flex items-center gap-4">
      <p-button icon="pi pi-arrow-left" text (click)="backToList()" />
      <h4 class="filter">Return Order</h4>
    </div>
    <div class="flex flex-col gap-4">
      @for (item of orderItems(); track item.id; let i = $index) {
      <app-order-item type="RETURN" [orderItem]="item" (amountChange)="handleAmountChange($event, item.id)" />
      }
    </div>
  </div>
  <div class="flex-3 card flex flex-col justify-between gap-2 p-4">

    <div>
      <div class="flex flex-col justify-between gap-2">
        <div class="flex flex-col justify-between gap-1">
          <div>{{'order.totalAmount' | transloco}}:</div>
          <p class="text-xl">{{ totalAmount() | currency: " ": "code": "0.0"}} UZS</p>
        </div>
        <div class="flex flex-col justify-between gap-1">
          <div>{{'order.sale' | transloco}}:</div>
          <div class="flex items-center gap-4">
            <p class="flex items-center mb-0! text-xl text-(--p-button-text-danger-color)">
              {{saleAmount() > 0 ? '- ' : ''}}{{ saleAmount() | currency: " ": "code": "0.0" }} UZS
            </p>
          </div>
        </div>

      </div>
      <p-divider />
      <div class="flex items-center gap-4 justify-between">
        <h5 class="m-0!">{{'order.payment' | transloco}}:</h5>
        <div>{{totalPayment() | currency: " ": "code": "0.0"}} UZS</div>
        <p-button outlined icon="pi pi-wallet" [disabled]="totalAmount() === 0" (onClick)="setReturnPayment()" />
      </div>
      @let payments = returnPayments();
      @if(payments.length) {

      <p-divider />
      @for (item of payments; track $index) {

      <div class="flex flex-col items-end sm:items-start">
        <div>{{item.type}}: </div>
        <div class="flex items-center gap-2">
          <p class="text-xl font-bold mb-0!">{{ item.amount | currency: " ": "code": "0.0"}} UZS
          </p>
        </div>
      </div>
      }
      }
    </div>
    <p-divider />
    <div class="flex flex-col items-end sm:items-start">
      <div>Return: </div>
      <div class="flex items-center gap-2">
        <p class="text-xl font-bold mb-0!">{{ totalAmount() - saleAmount() | currency: " ": "code":
          "0.0"}} UZS
        </p>
      </div>
    </div>
    <div class="flex gap-2 justify-end mt-4">
      <p-confirmdialog />
      <p-button class="submit-btn" label="Tasdiqlash" (onClick)="submit()" />
    </div>
  </div>
</div>

<app-return-payment-dialog [visible]="returnPaymentDialogVisible" (close)="returnPaymentDialogVisible = $event"
  (data)="handleReturnPaymentDialogChange($event)" [returnAmount]="totalAmount() - saleAmount()" />