<p-dialog header="Update price" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }"
  (visibleChange)="closeModal($event)">

  <div class="flex items-center gap-4 mb-4">
    <p-selectbutton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"
      aria-labelledby="basic" (onChange)="handleSale()" />
  </div>
  <div class="flex items-center gap-4">
    <p-inputgroup>
      <p-inputnumber placeholder="Price" [(ngModel)]="salePrice" (ngModelChange)="handleSale()" [invalid]="error" />
      <p-inputgroup-addon>{{value === 'PRICE' ? 'UZS' : '%'}}</p-inputgroup-addon>
    </p-inputgroup>

  </div>
  @if(error) {
  <small class="text-red-500">{{error}}</small>
  }
  <div class="flex items-center gap-4 mb-4 mt-4">
    <div>
      @if(salePrice > 0) {
      <p-tag [value]="salePricePercentage + '%'" severity="danger"></p-tag>
      }
    </div>
    <div class="flex flex-row items-center gap-3">
      <small>Price:</small>
      <h5 [ngClass]="{'text-decoration': salePrice}">{{price | currency: ' ' : 'code' : '0.0'}}</h5>
      @if(newPrice) {
      <small>New price:</small>
      <h5>{{newPrice | currency: ' ' : 'code' : '0.0'}}
      </h5>
      }
    </div>

  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="closeModal(false)" />
    <p-button label="Save" (click)="save()" />
  </div>
</p-dialog>