<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <p-button class="layout-menu-button layout-topbar-action" [rounded]="true" [text]="true"
      (click)="layoutService.onMenuToggle()" size="small">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <rect width="18" height="18" x="3" y="3" rx="2"></rect>
        <path d="M9 3v18"></path>
      </svg>
    </p-button>
    <p-divider layout="vertical" class="m-2" />
    <p-breadcrumb class="max-w-full hidden sm:block" [model]="breadcrumbItems">
      <ng-template #item let-item>
        @if(item.icon) {
        <span [ngClass]="[item.icon, 'text-color']"></span>
        }@else {
        <span class="text-color">{{ item.label | titlecase }}</span>
        }
      </ng-template>
    </p-breadcrumb>
  </div>


  <div class="layout-topbar-actions">
    <div class="layout-config-menu">
      <p-button type="button" size="small" class="layout-topbar-action" [rounded]="true" [text]="true"
        (click)="toggleDarkMode()">
        <i
          [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
      </p-button>
      <p-button type="button" size="small" class="layout-topbar-action" [rounded]="true" [text]="true"
        (click)="handleExit()">
        <i class="pi pi-power-off"></i>
        <span>Exit</span>
      </p-button>
    </div>
  </div>
</div>