@let order = this.currentOrder();
<app-dialog [(visible)]="customerDialogVisible" [title]="'order.addCustomer' | transloco"
  [subtitle]="'order.searchCustomer' | transloco" [(data)]="customerData" (dataChange)="handleCustomerCreate($event)" />
<p-toast />
@if(order) {
<div class="flex flex-col gap-4">
  <div class="flex items-center gap-4 w-full">
    <p-button icon="pi pi-arrow-left" text (click)="backOrderList()" />
    <h4 class="m-0!">{{'order.payment' | transloco}}</h4>
    <div class="ml-auto">
      @if(order.status === 'COMPLETED' || order.status === 'DEBT') {
      <p-button label="{{'order.return' | transloco}}" icon="pi pi-directions" severity="danger"
        (click)="goToReturn(order.id)" [disabled]="!hasAccess(order, 'RETURN') || order.isReturned" />
      }
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <span class="text-sm text-gray-500">{{'order.order' | transloco}} # {{ order.id }}</span>
    <p class="text-sm text-gray-500">{{'order.createdAt' | transloco}}: {{ order.createdAt | date: 'medium' }}</p>
  </div>
  <div class="flex flex-col gap-4 lg:flex-row lg:flex-wrap">
    <div class="card mb-0! flex-4" [formGroup]="paymentForm">
      <div class="mb-2 flex flex-col gap-2">

        <label for="customer">{{'order.customer' | transloco}}</label>
        @let customer = this.customer();
        @if(customer) {
        <div class="flex items-center gap-4">
          <div class="flex items-center gap-2">
            <div>
              <div class="font-semibold">{{customer.name}}</div>
              <div class="text-sm text-gray-500">{{customer.phone}}</div>
            </div>
            <div>
              @if(!(order.status === 'COMPLETED' || order.status === 'DEBT' || order.status === 'REFUNDED')) {
              <p-button icon="pi pi-times" text (click)="clearCustomer()" />
              }
            </div>
          </div>
        </div>
        }@else {
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-user"></i>
          </p-inputgroup-addon>
          <p-autocomplete class="mr-4!" [placeholder]="'order.searchCustomerPlaceholder' | transloco" inputId="customer"
            optionLabel="label" [emptyMessage]="'order.noResults' | transloco:{ item: 'order.customer' | transloco }"
            [suggestions]="userSearchResult()" (completeMethod)="search($event)" (onSelect)="selectSearchOption($event)"
            fluid />
          <p-button type="button" (click)="customerDialogVisible = true">
            <i class="pi pi-plus"></i>
            <span class="hidden sm:block">{{'order.addCustomer' | transloco}}</span>
          </p-button>
        </p-inputgroup>
        }
      </div>
      @if(order.status !== 'COMPLETED') {
      <div>
        <div class="text-gray-600">
          <p>{{'order.paymentMethod.name' | transloco}}:</p>
          <p-selectbutton [options]="paymentOptions" formControlName="paymentMethod" [multiple]="true"
            optionLabel="label" optionValue="value">
            <ng-template #item let-item>
              <i [class]="item.icon"></i>
              <span>{{getTranslateText((`order.paymentMethod.${item.label}` | transloco), item.label)}}</span>
            </ng-template>
          </p-selectbutton>
          <span class="block text-sm text-gray-500">{{'order.paymentTitle' | transloco}}</span>
          <div class="flex flex-wrap items-center gap-4" formGroupName="method">
            <div class="flex-auto flex flex-col gap-2 mt-4">
              <label class="mb-2 font-bold block" for="CASH">{{'order.paymentMethod.CASH' | transloco}}</label>
              <p-inputnumber inputId="CASH" formControlName="CASH" />
            </div>
            <div class="flex-auto flex flex-col gap-2 mt-4">
              <label class="mb-2 font-bold block" for="CARD">{{'order.paymentMethod.CARD' | transloco}}</label>
              <p-inputnumber inputId="CARD" formControlName="CARD" />
            </div>
            <div class="flex-auto flex flex-col gap-2 mt-4">
              <label class="mb-2 font-bold block" for="ONLINE">CLICK</label>
              <p-inputnumber inputId="ONLINE" formControlName="ONLINE" />
            </div>
            <div class="flex-auto flex flex-col gap-2 mt-4">
              <label class="mb-2 font-bold block" for="TRANSFER">Perevod</label>
              <p-inputnumber inputId="TRANSFER" formControlName="TRANSFER" />
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end mt-4">
        <p-button [label]="'order.submit' | transloco" (onClick)="submit()" />
      </div>
      }
    </div>

    <div class="flex-3 card flex flex-col justify-start gap-2">
      <div class="flex flex-col justify-between gap-2 mt-4">
        <div class="flex flex-col justify-between gap-1">
          <div>{{'order.totalAmount' | transloco}}:</div>
          <p class="text-xl">{{ totalAmount() | currency: " ": "code": "0.0"}} UZS</p>
        </div>
        <div class="flex flex-col justify-between gap-1">
          <div>{{'order.sale' | transloco}}:</div>
          <p class="text-xl text-(--p-button-text-danger-color)">
            {{saleAmount() > 0 ? '- ' : ''}}{{ saleAmount() | currency: " ": "code": "0.0" }} UZS
          </p>
        </div>
      </div>
      <p-divider class="mt-2" />
      @if(order.payments && order.payments.length > 0) {
      <p-accordion value="0" class="mb-4">
        <p-accordion-panel [value]="0">
          <p-accordion-header class="pt-0!">
            <div class="flex flex-wrap items-center gap-2 w-full">
              <div class="flex flex-col">
                <div class="text-xl font-bold mb-0!">{{'order.payments' | transloco}}</div>
                <div class="ml-auto mr-2 text-(--p-green-600) text-xl font-bold mb-0!">
                  +{{paymentAmounts() | currency: " ": "code":"0.0"}} UZS
                </div>
              </div>
              <p-badge [value]="order.payments.length" severity="secondary" class="mr-2" />
            </div>
          </p-accordion-header>
          <p-accordion-content>
            @for (item of order.payments; track item.id; let i = $index) {
            @if($first) {
            <p-divider />
            }
            <div class="font-bold flex items-center gap-4 mb-4 justify-between">
              <div>{{i+1}}.</div>
              <div class="flex flex-col">
                <span class="text-(--p-green-600)">+{{ item.amount | currency: " ": "code":"0.0"}}UZS</span>
                <span>{{ item.createdAt| date:'dd/MM/yyyy' }}</span>
              </div>
              <p-badge [value]="`order.paymentMethod.${item.type}` | transloco" severity="secondary" />
            </div>
            @if(!$last) {
            <p-divider />
            }
            }
          </p-accordion-content>
        </p-accordion-panel>

      </p-accordion>
      }

      @if(order.isReturned) {
      <div class="flex flex-col items-end sm:items-start">
        <div>{{'order.return' | transloco}}: </div>
        <div class="flex items-center gap-2">
          <p class="text-xl font-bold mb-0! text-(--p-button-text-danger-color)">
            - {{ order.returnedAmount | currency: " ":"code":"0.0"}} UZS
          </p>
        </div>
      </div>
      }
      <div class="flex flex-col items-end sm:items-start">
        <div>{{'order.total' | transloco}}: </div>
        <div class="flex items-center gap-2">
          <p class="text-xl font-bold mb-0!">{{ (totalAmount() - saleAmount() - paymentAmounts() - order.returnedAmount)
            | currency: " ":
            "code":
            "0.0"}} UZS
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="card flex justify-center gap-4 flex-wrap m-0!">
    <div class="flex flex-col">
      <div>{{'order.products' | transloco}}:</div>
      @for (item of orderItems(); track item.id) {
      <div class="p-4">
        <div class="flex items-center gap-4">
          <div class="flex items-center gap-2">
            <div>
              <div class="font-semibold">{{item.variant.sku}}</div>
              <div class="text-sm text-gray-500">{{'order.price' | transloco}}: {{ item.retailPrice| currency: " ":
                "code": "0.0" }} UZS</div>
            </div>
          </div>
          <div class="ml-auto flex flex-wrap items-center gap-4">
            <span>{{ item.quantity }} x {{ (item.retailPrice - item.sale) | currency: " ": "code": "0.0" }} UZS</span>
            <span>=</span>
            <span>{{ (item.quantity * (item.retailPrice - item.sale)) | currency: " ": "code": "0.0" }} UZS</span>
          </div>
        </div>
      </div>
      @if(!$last) {
      <p-divider class="my-0!" />
      }
      }
      @if(order.services && order.services.length > 0) {
      <p-divider class="my-0!" />
      <div class="mt-4">{{'order.additionalServices' | transloco}}:</div>
      @for (service of order.services; track service.id) {
      <div class="flex flex-wrap items-center p-4">
        <div class="font-semibold">
          <div>{{service.name}}</div>
          <div>{{service?.description}}</div>
        </div>
        <div class="ml-auto flex flex-wrap items-center gap-4">{{service.price | currency: " ": "code":"0.0"}} UZS</div>
      </div>
      }
      }
    </div>
  </div>
</div>

}