@let order = this.currentOrder();

@if(order) {
<div class="flex flex-col gap-4">
  <div class="flex items-center gap-4 w-full">
    <p-button icon="pi pi-arrow-left" text (click)="backOrderList()" />
    <h4 class="m-0!">{{'order.payment' | transloco}}</h4>
    <div class="ml-auto">
      @if(order.status === 'COMPLETED' || order.status === 'DEBT') {
      <p-button label="{{'order.return' | transloco}}" icon="pi pi-directions" severity="danger"
        (click)="goToReturn(order.id)" [disabled]="!hasAccess(order, 'RETURN') || order.isReturned" />
      }
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <span class="text-sm text-gray-500">{{'order.order' | transloco}} # {{ order.id }}</span>
    <p class="text-sm text-gray-500">{{'order.createdAt' | transloco}}: {{ order.createdAt | date: 'medium' }}</p>
  </div>
  <app-payment-operation [mode]="'ORDER'"
    [isClearable]="(order.status === 'COMPLETED' || order.status === 'DEBT' || order.status === 'REFUNDED')"
    [order]="order" (addPaymentToOrder)="addPaymentToOrder(order.id, $event)"
    (createOrderPayment)="createOrderPayment(order.id, $event)"
    (clearCustomerFromOrder)="clearCustomerFromOrder(order.id)"
    (setCustomerToOrder)="setCustomerToOrder(order.id, $event)" />


  <div class="card flex justify-center gap-4 flex-wrap m-0!">
    <div class="flex flex-col">
      <div>{{'order.products' | transloco}}:</div>
      @for (item of orderItems(); track item.id) {
      <div class="p-4">
        <div class="flex items-center gap-4">
          <div class="flex items-center gap-2">
            <div>
              <div class="font-semibold">{{item.variant.sku}}</div>
              <div class="text-sm text-gray-500">{{'order.price' | transloco}}: {{ item.retailPrice| currency: " ":
                "code": "0.0" }} UZS</div>
            </div>
          </div>
          <div class="ml-auto flex flex-wrap items-center gap-4">
            <span>{{ item.quantity }} x {{ (item.retailPrice - item.sale) | currency: " ": "code": "0.0" }} UZS</span>
            <span>=</span>
            <span>{{ (item.quantity * (item.retailPrice - item.sale)) | currency: " ": "code": "0.0" }} UZS</span>
          </div>
        </div>
      </div>
      @if(!$last) {
      <p-divider class="my-0!" />
      }
      }
      @if(order.services && order.services.length > 0) {
      <p-divider class="my-0!" />
      <div class="mt-4">{{'order.additionalServices' | transloco}}:</div>
      @for (service of order.services; track service.id) {
      <div class="flex flex-wrap items-center p-4">
        <div class="font-semibold">
          <div>{{service.name}}</div>
          <div>{{service?.description}}</div>
        </div>
        <div class="ml-auto flex flex-wrap items-center gap-4">{{service.price | currency: " ": "code":"0.0"}} UZS</div>
      </div>
      }
      }
    </div>
  </div>
</div>

}