<div class="mb-4 flex flex-col gap-2">

  <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
    <div class="border-primary-300 rounded-xl border ">
      <div class="p-6 flex flex-row items-center justify-between space-y-0 pt-4 pb-2">
        <div class="tracking-tight flex items-center gap-2 text-sm font-medium">
          <i class="pi pi-box"></i>
          Total orders
        </div>
      </div>
      <div class="p-6 pt-0 pb-4">
        <div class="text-2xl font-bold">12,000</div>
        <p class="text-muted-foreground text-xs">+5% than last month</p>
      </div>
    </div>
    <div class=" rounded-xl border border-primary-300">
      <div class="p-6 flex flex-row items-center justify-between space-y-0 pt-4 pb-2">
        <div class="tracking-tight flex items-center gap-2 text-sm font-medium">
          <i class="pi pi-cart-plus"></i>
          New Orders
        </div>
      </div>
      <div class="p-6 pt-0 pb-4">
        <div class="text-2xl font-bold">+350</div>
        <p class="text-muted-foreground text-xs">+10% vs last month</p>
      </div>
    </div>
    <div class=" rounded-xl border border-primary-300">
      <div class="p-6 flex flex-row items-center justify-between space-y-0 pt-4 pb-2">
        <div class="tracking-tight flex items-center gap-2 text-sm font-medium">
          <i class="pi pi-receipt"></i>
          On hold orders
        </div>
      </div>
      <div class="p-6 pt-0 pb-4">
        <div class="text-2xl font-bold">42</div>
        <p class="text-muted-foreground text-xs">2% of orders</p>
      </div>
    </div>
    <div class=" rounded-xl border border-primary-300">
      <div class="p-6 flex flex-row items-center justify-between space-y-0 pt-4 pb-2">
        <div class="tracking-tight flex items-center gap-2 text-sm font-medium">
          <i class="pi pi-verified"></i>
          Completed orders
        </div>
      </div>
      <div class="p-6 pt-0 pb-4">
        <div class="text-2xl font-bold">7800</div>
        <p class="text-muted-foreground text-xs">65% of all orders</p>
      </div>
    </div>
  </div>
</div>