<button pRipple (click)="menu.toggle($event)"
  class="relative overflow-hidden w-full border-0 bg-transparent flex items-start p-2 pl-4 hover:bg-surface-100 dark:hover:bg-surface-800 rounded-none cursor-pointer transition-colors duration-200">
  <p-avatar icon="pi pi-user" class="mr-2" shape="circle" />
  <span class="inline-flex flex-col items-start">
    <span class="font-bold">{{currentUser?.fullName ?? "test user" | titlecase}}</span>
    <span class="text-sm">{{currentUser?.role ?? "USER" | titlecase}}</span>
  </span>
</button>
<p-divider class="m-0! mb-4!" />
<p-menu #menu [model]="items" [popup]="true" class="flex justify-center" styleClass="w-full md:w-60">
  <ng-template #submenuheader let-item>
    <span class="text-primary font-bold">{{ item.label}}</span>
  </ng-template>
  <ng-template #item let-item>
    <a pRipple class="flex items-center px-3 py-2 cursor-pointer" [class]="item.linkClass">
      <span [class]="item.icon"></span>
      <span class="ms-2">{{ item.label }}</span>
    </a>
  </ng-template>
</p-menu>