@let product = productCard();
@let attributeList = attributes();
@let variants = variantsArray.controls;
<p-toast />
<p-fluid>
  @if (product && attributeList.length) {
  <div class="card flex flex-wrap justify-content-center" [formGroup]="form">

    <!-- LEFT: product info -->
    <div class="card flex flex-1 flex-wrap w-full md:w-auto">
      <div class="h-48 w-48 overflow-hidden">
        <p-image [src]="getImageUrl(product)" [alt]="product.name" class="object-cover w-full h-full"
          [preview]="true" />
      </div>

      <div class="card-body">
        <h4>{{ product.name }}</h4>
        <p class="card-text">{{ 'No description available' }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Category: {{ product.category }}</li>
          <li class="list-group-item">
            <h6>Attributes</h6>
            @for (attribute of attributeList; track attribute.id) {
            <div>
              <div>{{attribute.name}}</div>
              @for (item of attrGroup.controls[attribute.id].value; track $index; let i = $index; let last = $last) {
              <span class="ml-4 text-sm text-500 text-color-secondary">
                {{ item.value }}{{ !last ? ',' : '' }}
              </span>
              }
            </div>
            }
          </li>
        </ul>
      </div>
    </div>

    <!-- RIGHT: attributes + variants -->
    <div class="card w-full p-1!">
      <div class="p-6 flex flex-col gap-6 w-full">

        <!-- Attribute selectors -->
        <div class="flex flex-col gap-3" formGroupName="attributes">
          <div class="flex flex-col md:flex-row gap-6">
            @for (attr of attributeList; track attr.id) {
            <div class="flex flex-col flex-wrap gap-3 w-full">
              <label [for]="'attr-' + attr.id">{{ attr.name }}</label>
              <p-multiselect [inputId]="'attr-' + attr.id" placeholder="Select values"
                [loading]="!(attr.items && attr.items.length)" [options]="attr.items" optionLabel="value"
                [maxSelectedLabels]="3" [formControlName]="attr.id" />
            </div>
            }
          </div>
        </div>

        <!-- Variants -->
        @if (variants.length) {
        <div class="flex flex-col gap-3" formArrayName="variants">
          <h4 class="m-0">Variants</h4>

          @for (variant of variants; track variant.controls.key.value; let i = $index) {
          <div class="card m-0!" [formGroupName]="i">
            <div class="flex flex-column gap-3 flex-wrap md:flex-row">

              <!-- attrs preview -->
              <div class="text-sm">
                <strong>Variant:</strong>
                <span class="ml-2">
                  @for (attrItem of variant.controls.attrs.value; track attrItem.attributeId + ':' + attrItem.itemId) {
                  <div class="mr-3">
                    {{ attrItem.attributeName }}: {{ attrItem.itemName }}
                  </div>
                  }
                </span>
              </div>

              <!-- inputs -->
              <div class="flex flex-col md:flex-row gap-4">

                <div class="flex flex-col gap-2 w-full">
                  <label [for]="'quantity-' + i">Quantity</label>
                  <p-inputnumber [inputId]="'quantity-' + i" formControlName="quantity" />
                </div>

                <div class="flex flex-col gap-2 w-full">
                  <label [for]="'barcode-' + i">Barcode</label>
                  <input pInputText [id]="'barcode-' + i" formControlName="barCode" />
                </div>

                <div class="flex flex-col gap-2 w-full">
                  <label [for]="'price-' + i">Price</label>
                  <p-inputnumber [inputId]="'price-' + i" formControlName="price" />
                </div>

                <div class="flex flex-col gap-2 w-full">
                  <label [for]="'salePrice-' + i">Sale price</label>
                  <p-inputnumber [inputId]="'salePrice-' + i" formControlName="salePrice" />
                </div>
              </div>

            </div>
          </div>
          }
        </div>
        } @else {
        <div class="text-sm text-500 text-color-secondary">
          Select at least one value for each attribute to generate variants.
        </div>
        }

      </div>
    </div>

    <!-- actions -->
    <div class="flex flex-wrap justify-end gap-2 w-full">
      <p-button label="Cancel" severity="secondary" (onClick)="clearForm()"></p-button>
      <p-button label="Submit" (onClick)="submit()"></p-button>
    </div>

  </div>
  }
</p-fluid>