@let product = productCard();
@let attributeList = attributes();
<p-toast />
<p-fluid>
  @if (product && attributeList.length) {
  <div class="card flex flex-wrap justify-content-center" [formGroup]="form">

    <!-- LEFT: product info -->
    <div class="card flex flex-1 flex-wrap w-full md:w-auto">
      <div class="h-48 w-48 overflow-hidden">
        <p-image [src]="getImageUrl(product)" [alt]="product.name" class="object-cover w-full h-full"
          [preview]="true" />
      </div>

      <div class="card-body">
        <h4>{{ product.name }}</h4>
        <p class="card-text">{{ 'No description available' }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Category: {{ product.category }}</li>
          <li class="list-group-item">
            <h6>Attributes</h6>
            @for (attribute of attributeList; track attribute.id) {
            <div>
              <div>{{attribute.name}}</div>
              @for (item of attrGroup.controls[attribute.id].value; track $index; let i = $index; let last = $last) {
              <span class="ml-4 text-sm text-500 text-color-secondary">
                {{ item.value }}{{ !last ? ',' : '' }}
              </span>
              }
            </div>
            }
          </li>
        </ul>
      </div>
    </div>

    <!-- RIGHT: attributes + variants -->
    <div class="p-4">
      <p-table #dt [lazy]="true" [value]="products" [tableStyle]="{ 'min-width': '50rem' }"
        [loading]="appStore.isLoading()" [paginator]="true" [totalRecords]="total()" [rows]="rows"
        (onPage)="pageChange($event)">
        <ng-template #header>
          <tr>
            <th style="width:12%">Name</th>
            <th style="width:12%">Img</th>
            <th style="width:13%">Brand</th>
            <th style="width:10%">Category</th>
            <th style="width:10%">In Stock</th>
            <th style="width:15%">Created At</th>
            <th style="width:5%">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.name }}</td>
            <td><img [src]="getProductImg(product)" [alt]="product.name" width="50"
                class="shadow-lg object-cover h-[40px]" />
            </td>
            <td>{{ product.brand }}</td>
            <td>{{ product.category }}</td>
            <td> <p-badge [value]="productQuantity(product)" [severity]="getSeverity(productQuantity(product))" /></td>
            <td>{{ product.createdAt | date:'dd-MM-yyyy' }}</td>
            <td #action>
              <div>
                <p-button (click)="toggleAction($event, menu, product)" [rounded]="true" [outlined]="true"
                  icon="pi pi-ellipsis-v" />
                <p-menu #menu [model]="actionBtns" [popup]="true" appendTo="body" />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>


    <!-- actions -->
    <div class="flex flex-wrap justify-end gap-2 w-full">
      <p-button label="Cancel" severity="secondary" (onClick)="clearForm()"></p-button>
      <p-button label="Submit" (onClick)="submit()"></p-button>
    </div>

  </div>
  }
</p-fluid>