@if(orderItem) {
<p-fluid>
  <div class="card p-6!">
    <div class="flex flex-col gap-4 align-center justify-between sm:flex-row">
      <div class="flex-1 flex flex-col gap-2">
        <app-counter (countChange)="orderItem.quantity = $event"></app-counter>
      </div>
      <div class="flex-6">
        <p>{{orderItem.variantId}}</p>
      </div>
      <div class="flex-3 flex items-center gap-2 justify-end ">
        <app-sale-dialog [(visible)]="isPriceChangeDialogVisible" [price]="orderItem.price"
          (visibleChange)="handleSale($event)" />

        <div>{{orderItem.price | currency: ' ' : 'code' : '0.0'}}</div>
        <p-button icon="pi pi-pencil" severity="secondary" outlined type="button"
          (click)="isPriceChangeDialogVisible = true" />


      </div>
      <div class="flex justify-end">
        <p-button type="button" [outlined]="true" [rounded]="true" icon="pi pi-trash" severity="danger"
          (click)="removeItem()"></p-button>
      </div>
    </div>
  </div>
</p-fluid>
}