@let product = productCard();
@let attributeList = attributes();
@let variants = variantsArray.controls;
<p-toast />
<p-fluid>
  @if (product && attributeList.length) {
  <div class="card flex flex-wrap justify-content-center" [formGroup]="form">

    <!-- LEFT: product info -->
    <div class="card flex flex-1 flex-col flex-wrap gap-4 w-full md:w-auto">
      <div class="min-h-40 max-h-80 max-w-60 overflow-hidden">
        @for (img of product.images; track $index) {
        <p-image [src]="img.url" [alt]="product.name" imageClass="object-cover w-full h-full" [preview]="true" />
        }@if(!product.images || !product.images.length) {
        <p-image src="/no_image.svg" [alt]="product.name" imageClass="object-cover w-full h-full" [preview]="true" />
        }
      </div>

      <p-divider layout="horizontal" />

      <div class="flex flex-1 flex-wrap w-full">
        <div class="w-[40%] md:w-auto">
          <h4>{{ product.name }}</h4>
          <p class="card-text">{{ product.description ?? 'No description available' }}</p>
          <div class="attribute">
            <h6>Attributes</h6>
            @if (attributeList && attributeList.length) {
            <div class="flex flex-col flex-wrap gap-4">
              @for (attr of attributeList; track attr.id) {
              <div class="flex gap-2">
                <strong>{{ attr.name }}:</strong>
                @for (item of attrGroup.controls[attr.id].value; track $index; let i = $index; let last = $last) {
                <p-tag icon="pi pi-info-circle" [value]="item.value.toString()" />
                }
              </div>
              }
            </div>
            } @else {
            <span>No attributes</span>
            }
          </div>

        </div>
        <p-divider layout="vertical" class="hidden! md:flex!" />
        <ul class="list-group list-group-flush">
          <li class="mb-4 ">
            <h6>Category</h6>
            <p-tag [value]="product.category" severity="secondary" />
          </li>
          <li class="mb-4">
            <h6>Brand</h6>
            <p-tag [value]="product.brand" severity="secondary" />
          </li>
          <li class="mb-4">
            <h6>Tags</h6>
            @if (product.tags && product.tags.length) {
            <div class="flex flex-wrap gap-4">

              @for (tag of product.tags; track tag) {
              <p-tag [value]="tag.tagName" severity="info" />
              }
            </div>
            } @else {
            <span>No tags</span>
            }
          </li>

        </ul>
      </div>

    </div>

    <!-- RIGHT: attributes + variants -->
    <div class="card w-full p-1!">
      <div class="p-6 flex flex-col gap-6 w-full">

        <!-- Attribute selectors -->
        <div class="flex flex-col gap-3" formGroupName="attributes">
          <div class="flex flex-col md:flex-row gap-6">
            @for (attr of attributeList; track attr.id) {
            <div class="flex flex-col flex-wrap gap-3 w-full">
              <label [for]="'attr-' + attr.id">{{ attr.name }}</label>
              <p-multiselect [inputId]="'attr-' + attr.id" placeholder="Select values"
                [loading]="!(attr.items && attr.items.length)" [options]="attr.items" optionLabel="value"
                [maxSelectedLabels]="3" [formControlName]="attr.id" />
            </div>
            }
          </div>
        </div>

        <!-- Variants -->
        @if (variants.length) {
        <div class="flex flex-col gap-3" formArrayName="variants">
          <h4 class="m-0">Variants</h4>

          @for (variant of variants; track variant.controls.key.value; let i = $index) {
          <div class="card m-0!" [formGroupName]="i">
            <div class="flex flex-col gap-3 flex-wrap md:flex-row">

              <!-- attrs preview -->

              <div class="ml-2 flex flex-row gap-2 flex-wrap md:flex-col">
                @for (attrItem of variant.controls.attrs.value; track attrItem.attributeId + ':' + attrItem.itemId) {
                <div class="mr-3 min-w-20">
                  <strong>{{ attrItem.attributeName }}</strong>:
                  <p-tag icon="pi pi-info-circle" [value]="attrItem.itemName.toString()" />
                </div>
                }
              </div>


              <!-- inputs -->
              <div class="flex flex-col md:flex-row gap-4">

                <div class="flex flex-col gap-2 w-full">
                  <label [for]="'quantity-' + i">Quantity</label>
                  <p-inputnumber [inputId]="'quantity-' + i" formControlName="quantity"
                    [class]="variantsArray.at(i).controls.salePrice.touched && variantsArray.at(i).controls.salePrice.invalid ? 'ng-dirty ng-invalid' : ''" />
                </div>

                <div class="flex flex-col gap-2 w-full">
                  <label [for]="'barcode-' + i">Barcode</label>
                  <input pInputText [id]="'barcode-' + i" formControlName="barCode" />
                </div>

                <div class="flex flex-col gap-2 w-full">
                  <label [for]="'price-' + i">Price</label>
                  <p-inputnumber [inputId]="'price-' + i" formControlName="price"
                    [class]="variantsArray.at(i).controls.salePrice.touched && variantsArray.at(i).controls.salePrice.invalid ? 'ng-dirty ng-invalid' : ''" />
                </div>

                <div class="flex flex-col gap-2 w-full">
                  <label [for]="'salePrice-' + i">Sale price</label>
                  <p-inputnumber [inputId]="'salePrice-' + i" formControlName="salePrice"
                    [class]="variantsArray.at(i).controls.salePrice.touched && variantsArray.at(i).controls.salePrice.invalid ? 'ng-dirty ng-invalid' : ''" />
                </div>
              </div>

            </div>
          </div>
          }
        </div>
        } @else {
        <div class="text-sm text-500 text-color-secondary">
          Select at least one value for each attribute to generate variants.
        </div>
        }

      </div>
    </div>

    <!-- actions -->
    <div class="flex flex-wrap justify-end gap-2 w-full">
      <p-button label="Cancel" severity="secondary" (onClick)="clearForm()"></p-button>
      <p-button label="Submit" (onClick)="submit()"></p-button>
    </div>

  </div>
  }
</p-fluid>